@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mt-5"> Do You Want To Delete @Model.FName User?</h2>
<br/>
<form asp-action="ConfirmDelete">
    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />

    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="FName"></label>
        <input readonly class="form-control" asp-for="FName" />

    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="LName"></label>
        <input readonly class="form-control" asp-for="LName" />

    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input readonly class="form-control" asp-for="PhoneNumber" />

    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />

    </div>

    <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

