@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayOutView.cshtml";
}
<
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword">

			<input asp-for="NewPassword" placeholder="Enter New Password">
			<span class="text-danger" asp-validation-for="NewPassword"></span>
			<br />
			<input asp-for="ConfirmNewPassword" placeholder="Confirm Password">
			<span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
			<br />




			<input type="submit" value="Reset">
		</form>

	</div>
</div>
@section ValidationScriptsPartial
{
	<partial name="_ValidationScriptsPartial" />
}

